* {
  user-select: none;
}

@font-face {
 font-family: "KyivType Sans-Bold";
 src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Bold.woff2") format("woff2");
}

@font-face {
 font-family: "KyivType Sans-Bold3";
 src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Bold3.woff2") format("woff2");
}

@font-face {
 font-family: "KyivType Sans-Light";
 src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Light.woff2") format("woff2");
}

@font-face {
 font-family: "KyivType Sans-Medium";
 src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Medium.woff2") format("woff2");
}

@font-face {
 font-family: "KyivType Sans-Regular";
 src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Regular.woff2") format("woff2");
}



.galleryarrow {
  transition: 250ms;
  opacity: 25%;
}

.clickable {
  cursor:  pointer;
}